.navbar {
	display: flex;
	width: 100%;
	background-color: black;
	height: 180px;

	.icon-container {
		display: flex;
		justify-content: center;
		align-items: center;

		.device-name-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-family: "Rubik Vinyl", cursive;
			font-size: 35px;
			margin-left: 10px;
			color: white;

			.nav-device-name {
				text-align: center;
			}
		}

		.gnw-icon {
			width: 120px !important;
		}

		.icon {
			display: flex;
			width: 80px;
		}
	}

	.device-controls-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 5;
		margin: 40px;
	}

	.shopping-cart {
		display: flex;
		flex: 1;
	}
}

// tablets

// mobile devices
@media (max-width: 480px) {
	.switch-icon {
		display: flex;
		margin-left: 10px;
		width: 50px;
		height: 50px;
		color: white;
	}
	.switch-icon:active {
		color: black;
	}
	.navbar {
		justify-content: center;
		align-items: center;
	}

	.icon-container {
		width: 100%;
	}

	.navbar-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 1000;
		background-color: black;
		width: 100%;
		height: 100vh;
	}

	.controls-label {
		display: flex;
		color: white;
		font-family: "Rubik Vinyl", cursive;
		justify-content: center;
		font-size: 40px;
		margin-bottom: 50px;
	}
}
