.navbar {
	display: flex;
	width: 100%;
	background-color: black;
	height: 150px;

	.icon {
		display: flex;
		flex: 1;
	}

	.device-controls-container {
		display: flex;
		flex: 5;
	}

	.shopping-cart {
		display: flex;
		flex: 1;
	}
}
