.navbar {
	display: flex;
	width: 100%;
	background-color: black;
	height: 180px;

	.icon-container {
		display: flex;
		justify-content: center;
		align-items: center;

		.device-name-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-family: "Rubik Vinyl", cursive;
			font-size: 35px;
			margin-left: 10px;
			color: white;

			.nav-device-name {
				text-align: center;
			}
		}

		.gnw-icon {
			width: 120px !important;
		}

		.icon {
			display: flex;
			width: 80px;
		}
	}

	.device-controls-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 5;
		margin: 40px;
	}

	.shopping-cart {
		display: flex;
		flex: 1;
	}
}
