.ogg-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: black solid 1px;
    background-color: var(--og-gameboy-color);
    z-index: 100;
    width: 350px;
    height: 520px;
    border-radius: 10px 10px 60px 60px;

    .ogg-screen-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: rgb(61, 61, 61);
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 38px;

        .ogg-pi-container {
            display: flex;
            flex: 1;

            .ogg-icon-container {
                display: flex;
                flex-direction: column;
                transform: translate(0px, 35px);

                .ogg-icon-indicators {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .ogg-power-light {
                    width: 5px;
                    height: 5px;
                    background-color: red;
                    border-radius: 50%;
                    margin-right: 3px;
                    border: black 1px solid;
                }

                .ogg-arrow-ind {
                    font-size: 8px;
                }
            }

            .ogg-power-label {
                color: gray;
                font-size: 8px;
                margin-top: 5px;
            }
        }

        .ogg-gameboy-label {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;

            .ogg-logo {
                width: 200px;
            }
        }

        .ogg-screen-n-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .ogg-screen {
            display: flex;
            border: black inset 1px;
            width: 100%;
            height: 100%;
            background-color: rgb(89, 102, 58);
        }
    }

    .ogg-controller-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .ogg-nintendo-logo {
            display: flex;
            margin-top: 20px;
            border: inset 2px black;
            border-radius: 20px;
            padding: 2px 17px 2px 17px;

            .ogg-trademark {
                height: 10px;
                width: 10px;
            }
        }
    }

    .ogg-button-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .ogg-dpad-container {
            display: flex;
            z-index: 1;
        }

        .ogg-action-btns-container {
            display: flex;

            .ogg-action-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: black;
                border-radius: 50%;
                margin: 10px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                font-size: 10px;
            }

            .ogg-action-btn:hover {
                background-color: blue;
            }

            .ogg-action-btn:active {
                background-color: rgb(157, 211, 255);
            }

            .ogg-a-btn {
                transform: translate(-10px, -15px);
            }
        }
    }
}

.ogg-option-btns-container {
    display: flex;
    transform: translate(0px, 35px);

    .ogg-option-btn {
        width: 25px;
        height: 5px;
        border-radius: 100px;
        background-color: black;
        border: solid 1px black;
        margin: 10px;
        cursor: pointer;
    }

    .ogg-option-btn:hover {
        background-color: blue;
    }

    .ogg-option-btn:active {
        background-color: rgb(157, 211, 255);
    }
}