:root {
  --og-gameboy-color: rgb(211, 211, 211);
  --gbcolor-color: rgb(255, 220, 19);
  --btn-active-color: rgb(157, 211, 255);
  --screen-back-color: rgb(61, 61, 61);
  --gba-color: rgb(107, 91, 150);
  --gnw-color: rgb(218, 194, 147);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
